body {
    margin: 0;
    padding: 0;
    background: white;
    background-image: url('..\\frontend\\src\\assets\\background-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}