/* Inventory Page Container */
.inventoryPageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("C:\Users\Parth\Downloads\background-image.svg"); /* Use the SVG background image */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

/* Rest of your CSS styles */




/* Left Column */
.leftColumn {
  margin: 20px;
}

/* Add Item Section and Category Creation */
.addItemSection, .categoryCreation {
  margin-bottom: 20px;
}

/* Inventory Display */
.inventoryDisplay {
  margin: 20px;
  width: 100%;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Common Styles */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Button Styles */
.button, .add-item-button, .add-category-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #3fad1d; /* Mint green */
  transition: background-position 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1.1);
  background-size: 200% auto; /* Background size for gradient animation */
  background-image: linear-gradient(to right, #3fad1d 50%, #55d444 50%); /* Initial gradient */
}

/* Button Hover Effects */
.button:hover, .add-item-button:hover, .add-category-button:hover {
  transform: translateY(-3px); /* Move the button slightly up */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 1.3); /* Darker shadow */
  background-position: right center; /* Change the position of the gradient */
}
