.logoutButton {
    position: fixed; 
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background: linear-gradient(to bottom,#3fad1d, #2f8c15);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1050; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.logoutButton:hover {
    background-color: #2f8c15; /* Darker shade of green */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}